body {background-color: white;}
h1 {color: black;text-align: center;}
p.style {
  font-family: "Sofia", sans-serif;
  font-size: 30px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: black;
  overflow: hidden;
}
li {
  float: left;

  }
li a {
  text-decoration: none;
  display: block;
  padding: 14px 16px;
  color: white;
  background-color: black;
  }
li a:hover {
  background-color:#333;
}
* {
  box-sizing: border-box;
}
.box {
  float:left;
  width:40%;
  margin:2px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.poster {
  width:100%;
}
